.alignment{
    float: right;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 2px solid orangered;
    padding: 5px;
    color: black;
}
.titleimage{
    height: 75%;
    width: 33%;
    z-index: -1;
    position: relative;
    left: 2em;
    top: 2em;
}
.title{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: orangered;
    position: relative;
    left: 6em;
    bottom: 3em;
}
.subtitle{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 1em;
    color: darkgrey 0.7;
    left: 14.5em;
    bottom: 9em;
}

.describe{
    font-size: 25px;
    color: orangered;
    font-family: Helvetica, sans-serif;
    border: solid black 2px;
    align-items: left;
    padding: 2px;
    width: 17%;
    text-align: center;
    float: left;
}
.blocktitle{
    font-size: 60px;
    font-family: 'Arial Narrow Bold', sans-serif;
    text-align: center;
    position: relative;
    margin: auto;
}
.infoblock{
    height: 300px;
    width: 95%;
    background-color: lightgray;
    margin: auto; 
    margin-top: 2px;
    padding: 2px;
}
.innerblock{
    height: 200px;
    width: 50%;
    background-color: white;
    Float: right;
    margin: 10px;
    border: 2px solid black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 4px;
}
.sideinfo{
    text-align: right;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.subinfo {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    color: darkgrey 0.7;
    text-align: right;
    margin: auto;
}
.titleblock{
    clear:both;

}
.messagebox{
   margin:auto;
   width:50%;
   border: 3px solid bisque;
   padding: 5px;
}
.appleton{
    border-bottom: 1px solid black;
    width: 40%;
    position: absolute;
    right: 0px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;

}
.parlux{
    border-bottom: 1px solid black;
    width: 40%;
    right: 0px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;

}
.fossil{
    width: 40%;
    padding: 5px;
    position: absolute;
    right:0px;
    font-family: Arial, Helvetica, sans-serif;
}
.michaels{
    width: 40%;
    padding: 5px;
    right: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.images{
    width: 33%;
    height: 250px;
}
#sizeme{
    font-family: Helvetica, sans-serif;
    font-size: 34px;
}
.dribble{
    width: 5%;
    height: 5%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#images{
        text-align: center;
}